body, html {
  background: url(../assets/images/space.jpg) no-repeat fixed center;;
  background-position:center;
  background-size:cover;
}

h2 {
  color:white;
}

p {
  color: white;
}
.mercury {
  padding: 20px;
  color: white;
  
}

.venus {
  padding: 20px;
}

.mars {
  padding: 20px;
}

.jupiter {
  padding: 20px;
}

.output {
  color:white;
  font-size: 25px;
}